<nav class="navbar navbar-default" style="background-color: powderblue;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img class="rounded-circle" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F512%2FPNG%2F512%2Fangularjs_icon-icons.com_50952.png&f=1&nofb=1" width="30" height="30" alt="img"><b> MyAngularApp</b></a>
        </div>
        <ul class="nav navbar-right">
            <li class="active pl-3"><div class="btn btn-default" (click)="Logout()">Logout</div></li>
        </ul>
    </div>
</nav>
<div class="row">
        <img style="background-color: white;" height="500px" class="col-md-6 p-3 pl-5" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.ecb.nl%2Fpics%2Fpic%2F1026-527-999-v2z.jpg&f=1&nofb=1">
        <p class="col-md-6 p-3">ABN AMRO Bank N.V. is a Dutch bank with headquarters in Amsterdam. ABN AMRO Bank is the third-largest bank in the Netherlands.[6] It was re-established in its current form in 2009, following the acquisition and break-up of the original ABN AMRO by a banking consortium consisting of Royal Bank of Scotland Group, Santander Group and Fortis. Following the collapse of Fortis, who acquired the Dutch business, it was nationalized by the Dutch government along with Fortis Bank Nederland.[7] It was relisted as a public company again in 2015.</p>

</div>